.profile {
    background: #aaaaaa;
    display: grid;

    grid-template-areas: 
    "profile__avatar profile__description"
    "profile__posts profile__posts";
    grid-gap: 15px;
    grid-template-columns: 400px 1fr;
}

.profile__avatar {
    grid-area: profile__avatar;
    background: white;
    border-radius: 5px;
    box-sizing: border-box;

    height: auto;
    padding: 20px;
}

.profile__avatar img{
    width: 100%;
    max-height: 360px;
    border-radius: 10px;
}

.profile__description {
    grid-area: profile__description;
    background: white;
    padding: 20px;
    border-radius: 5px;
}

.info__block {
    padding: 10px 0;
    border-bottom: 1px solid gray;
}

.profile__desc--name {
    font-size: 26px;
    line-height: 25px;
    font-weight: 700;
    margin: 0 0 20px 0;
}

.profile__desc {
    font-size: 13px;
    font-weight: 400;
    display: grid;
    grid-template-columns: 1fr 4fr;
}

.span1 {
    color: gray;
}

.span2 {
    color: black;
    font-weight: 500;
}

.profile__something {
    grid-area: profile__something;
    background: white;
    border-radius: 5px;
    padding: 20px;
}

.profile__posts {
    grid-area: profile__posts;
    background: #aaaaaa;
    border-radius: 5px;

    display: grid;
    grid-gap: 15px;
}