.header {
    grid-area: header;
    background: linear-gradient(45deg, rgba(228,255,255,1), rgba(226, 255, 255, 1));
    box-shadow: 0 5px 35px rgba(0, 0, 0, 0.2);

    border-radius: 30px;
    box-sizing: border-box;

    display: flex;
    padding: 10px 20px;
    align-items: center;
}

.logo {
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 18px;
    letter-spacing: 10px;
    text-align: center;
    color: #1d5dc3;
}

.header__search {
    grid-area: search;
    margin: 0 0 0 20px;
    padding: 0;
}

.header__search input {
    width: 360px;
    height: 40px;
    padding: 0 10px;
    outline: none;

    border-radius: 20px;
}