.header {
    grid-area: header;
    background: white;

    border-top-left-radius: 40px;
    border-bottom-left-radius: 40px;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 250px;
    box-sizing: border-box;

    display: grid;
    align-items: center;
    grid-template-columns: 1.2fr 2.15fr;
    grid-gap: 15px;
}

.header img {
    width: 100px;
    height: 55px;
    margin-left: 20px;
}


.header__search {
    grid-area: search;
    margin: 0 0 0 20px;
    padding: 0;
}

.header__search input {
    width: 360px;
    height: 40px;
    padding: 0 10px;
    outline: none;

    border-radius: 10px;
}