.header {
    grid-area: header;
    background: white;

    border-radius: 5px;
    box-sizing: border-box;

    display: grid;
    align-items: center;
    grid-template-columns: 1fr 5fr;
    grid-gap: 15px;
}

.header img {
    width: 100px;
}