.nav {
    grid-area: nav;
    background: linear-gradient(45deg, rgba(228,255,255,1), rgba(226, 255, 255, 1));
    box-shadow: 0 5px 35px rgba(0, 0, 0, 0.2);
    border-radius: 50px;
    margin: 0;
    padding: 20px 30px;
    display: flex;
    flex-direction: column;
    height: max-content;

    font-family: sans-serif;
}

.nav__link {
    text-decoration: none;

    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: left;

    color: rgba(0, 221, 221, 1);
    border: 1px solid rgba(0, 0, 0, 0.0);
    padding: 12px 20px;
}

.nav__link:hover {
    color: rgba(255, 170, 0, 1);
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50px;
    background: linear-gradient(270deg, rgba(0, 255, 255, 1), rgba(225, 255, 255, 1));
}