.post {
    position: relative;
    display: grid;
    align-items: center;

    grid-template-areas: 
    "post__avatar post__author post__author"
    "post__text post__text post__text"
    ". . post__btns";
    grid-template-columns: 90px 1fr 1fr;
    grid-template-rows: 100px 1fr 30px;
    grid-gap: 1px 30px;

    margin: 25px;
    padding: 20px;
    background: linear-gradient(90deg, rgba(0, 255, 255, 1), rgba(0, 221, 221, 1));
    box-shadow: 0 5px 35px rgba(0, 0, 0, 0.2);
    border: 1px solid rgba(0, 225, 225, 0.2);
    border-radius: 30px;

    transition: 0.2s;
}

.post:hover {
    border: 1px solid rgba(0, 0, 0, 0.8);
}

.post__avatar {
    grid-area: post__avatar;
    width: 90px;
    height: 90px;
}

.post__avatar img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.post__author {
    grid-area: post__author;
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 40px;
}

.post__text {
    grid-area: post__text;
    text-align: left;
    padding-bottom: 20px;

    border-bottom: 1px solid gainsboro;
}

.post__btns {
    grid-area: post__btns;
}

.post__btn {
    width: 60px;
    height: 25px;
    border: none;
    border-radius: 10px;
    color: black;

    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: 11px;
    letter-spacing: 0em;
    text-align: center;
    background: white;

    position: absolute;
    bottom: 15px;

    transition: 0.2s;
}

.post__btn:nth-child(1) {
    right: 20px;
}
.post__btn:nth-child(2) {
    right: 90px;
}
.post__btn:nth-child(3) {
    left: 20px;
}

.post__btn:nth-child(1):hover {
    border: 1px solid rgba(255, 0, 0, 1);
    box-shadow: 1px 1px 5px rgba(255, 0, 0, 1);
}
.post__btn:nth-child(2):hover {
    border: 1px solid rgba(0, 0, 0, 1);
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 1);
}
.post__btn:nth-child(3):hover {
    border: 1px solid rgba(0, 255, 0, 1);
    box-shadow: 1px 1px 5px rgba(0, 255, 0, 1);
}