body {
    background: #aaaaaa;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.app-wrapper {
    display: grid;

    grid-template-areas: 
    "header header"
    "nav main";
    grid-template-rows: 110px 1fr;
    grid-template-columns: 1fr 5fr;
    grid-gap: 15px;
    max-width: 1400px;
    margin: 0 auto;
}

.main {
    grid-area: main;
}