body {
    background: #aaaaaa;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.app-wrapper {
    display: grid;

    grid-template-areas: 
    "header header ."
    "nav main main";
    grid-template-rows: 60px 1fr;
    grid-template-columns: 180px 400px 690px;
    grid-gap: 20px;
    max-width: 1400px;
    margin: auto;
    padding: 45px;
    border-radius: 50px;
    background: linear-gradient(180deg, rgba(0, 221, 221, 0.5), rgba(255, 255, 255, 0.5));
    box-shadow: 0 5px 35px rgba(0, 0, 0, 0.2);
}

.main {
    grid-area: main;
}

a {
    text-decoration: none;
}

button:hover {
    cursor: pointer;
}