.friend {
    background: whitesmoke;
    padding: 20px;
    border: 1px solid #e0e0e0;
    max-width: 500px;
    border-radius: 5px;
    display: grid;
    align-items: center;
    grid-template-areas: 
    "img description btns";
    grid-template-columns: 100px 40% 40%;
    grid-gap: 10px;
    transition: 0.3s;
}

.friend:hover {
    border: 1px solid white;
    border-radius: 10px;
    background: white;
}

.friend:hover .btn {
    opacity: 1;
    width: 120px;
    height: 30px;
    border-radius: 10px;
}

.friend img {
    grid-area: img;
    width: 100px;
    border-radius: 50%;
}

.description {
    grid-area: description;
    display: grid;

    margin: 0;
    padding: 0;
}

.name {
    font-size: 16px;
    line-height: 25px;
    font-weight: 700;
}

.status {
    color: gray;
}

.btns {
    grid-area: btns;
    display: grid;
    justify-content: center;
    
}

.btn {
    width: 30px;
    height: 30px;
    margin: 5px 0;

    transition: 0.2s;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    background: white;
}

.btn:hover {
    color: white;
    background: black;
}

.btn:nth-child(3):hover {
    color: white;
    background: red;
}

.btn {
    opacity: 0;
}